@font-face {
  font-family: pretendard;
  font-style: medium;
  font-weight: 500;
  src: url(./styles/fonts/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: pretendard;
  font-style: bold;
  font-weight: 700;
  src: url(./styles/fonts/Pretendard-Bold.woff) format("woff");
}
